
* {
  box-sizing: border-box; }
body,html{

height: 100%;
}

body {

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
    background-color: #2ecc71;
    height: 100%;
    width: 100%;
    
 }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
    margin-top: 5%;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; 
  font-size:30px;
  }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }



.page-header {
  color: #fff;
  text-align: center;
/*background-image: linear-gradient(120deg, #2ecc71, #3498db); */ 
    background-color: rgba(46, 204, 113,0.5); 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
    
width: 100%;
height: 100%;
padding: 10px;
}


#particles-js {
    z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

blockquote{
  background: rgba(0,0,0,0.3);
  padding: 35px;
  border-radius: 10px;
margin-top: 10%;
    font-size: 30px;
}

/* <div class="one"> asdf </div>
        <div class="two"> asdf </div> 

.one {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
}
.two {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background: #eee;
}

#first{
background-image: url(../img/ws2.jpg)

} */
